* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/*cambios generales*/
button,
img {
  cursor: pointer;
}
li {
  list-style: none;
}
h1 {
  margin: 15px auto;
}
.none {
  display: none;
}

button {
  background: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  margin: 10px auto;
}

header,
main {
  text-align: center;
}

.names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}

.links {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.active {
  display: block;
}

.card {
  margin: 10px auto;
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

img:hover {
  transform: scale(1.2);
  transition: all 0.8s ease;
}
